body {
    background : #C53360;
    font-family: 'Work Sans', sans-serif;
}

.homeImage {
    height      : 27.5em;
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

.content {
    text-align   : center;
    margin-bottom: 6rem;
    padding      : 16px;
}

#screenshotModal {
    .modal-body {
        color: black !important;
    }
}

.appStores {
    display        : flex;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }

    .googlePlay {
        height: 100px;
        width : 15em;
    }

    .appleAppStore {
        height: 100px;
        width : 15em;
    }
}


div.contact form * {
    margin-top: 0.7rem;
}



