header {
    display: block;
    text-align: center;
    padding-top: 1rem;

    i {
        color: white;
        border: 1px solid blue;
        padding: 5px;
        border-radius: 50%;
    }

    h1 {
        color: white;
    }
}