@media(min-width:450px) {
    .sticky {
        position: fixed;
        bottom: unset;
        top: 0;
        width: 100%;
      }

      #navbar {
          margin-top: unset;
          .navItems {
            justify-content: end;
          }
          height: 48px;

          :each-child {
              padding-left: .2rem;
          }

          .logoHead {
              display: unset;
          }
      }

      .content {
          margin-bottom: unset;
      }

      header {
        margin-top: 6rem;
      }

      .aboutContent {
        margin-bottom: unset;
        margin-top: 6rem;
      }
}