@media(min-width:414px) {
    .sticky {
        position: fixed;
        bottom: unset;
        top: 0;
        width: 100%;
      }

      #navbar {
          margin-top: unset;
      }

      .content {
          margin-bottom: unset;
      }

      header {
        margin-top: 6rem;
      }
}