* {
  font-family: 'Work Sans', sans-serif;
}
body {
  background-image: linear-gradient(to right, #9712bc, #9e11c5, #a50fce, #ac0dd8, #b30be1);
  color: white;
}
body #wrapper {
  width: 64em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
}
header {
  display: block;
  text-align: center;
  padding-top: 1rem;
}
header i {
  color: white;
  border: 1px solid blue;
  padding: 5px;
  border-radius: 50%;
}
header h1 {
  color: white;
}
header {
  text-align: center;
  padding-top: 3rem;
}
header .icon.ion-plane.logo {
  font-size: 40px;
  width: 53px;
  height: 53px;
  padding: 0 10px;
  background-color: white;
  border-radius: 50%;
  color: #9712bc;
}
header h1.intro {
  padding-top: 1.3rem;
}
#main {
  background-color: white;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 3px -1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 3px 3px -1px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 3px 3px -1px rgba(0, 0, 0, 0.35);
}
@media (max-width: 414px) {
  #wrapper {
    width: 90%;
    margin: 0 auto;
  }
  #wrapper header {
    height: 20rem;
    width: 100%;
    border: 1px solid red;
  }
  #wrapper #main .mainHead {
    display: none;
  }
}
