body {
  background-color: #C53360;
  color: white;
}
.tabs {
  height: 47px;
}
@media (min-width: 1280px) {
  .tabs {
    width: 1280px;
  }
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  color: white;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
#navbar {
  overflow: hidden;
  margin-left: -0.5rem;
}
#navbar a {
  float: left;
  display: block;
  color: #cc9a9a;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
.tab {
  display: none;
}
.active-tab {
  display: inline;
}
#navbar a.active {
  color: white;
}
